

.handlebar {
  width: 100%;
  min-height: 275px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); 
  
  @include transition (all 0.3s ease-out 0.75s);

  
  &.collapse {
    position: fixed;
    top: 0;
    height: 80px;
    min-height: 0;
    z-index: 2000;
  }
}

  .bar {
    width: 100%;
    height: 80px;
    background-color: $ligthBlack;

    @import "circlebutton";
  }

    .wheel-wrap {
      position:absolute;
      left:0;
      right:0;
      margin-left:auto;
      margin-right:auto;
      text-align:center;

        .retail {
          font-size: 22px;
          font-weight: 600;
          margin: 25px 0 0 0;
          position: relative;
          display: inline-block;
          vertical-align: top;

          @include opensans-reg;

          // Used for Collapsed Animation
          
          @include transform(scale(1));

          .price {
            color: $redd;
            text-decoration: line-through;
          }

        } // close retail 

        @import "wantbutton"; 

        .title {
          font-size: 36px;
          width: 100%;
          margin: 0 auto;
          position: relative;
          top: -55px;
          @include opensans-reg;
          @include transition (all 0.25s ease);
          
        }
        
    } // close wheel wrap

.wheel-wrap.collapse .retail  {
  @include transform(scale(0));   
}

.wheel-wrap.collapse .want-button {
  @include transform(scale(0));   
}

.wheel-wrap.collapse .wheel-outer {
  @include transform(scale(0));
}

.wheel-wrap.collapse .title {
  //@include transform(translateY(-135px));
  top: -195px;
  font-size: 28px;
}

