

.handlebar {
  width: 100%;
  height: 35%;
  min-height: 275px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); 
  

  .bar {
    width: 100%;
    height: 80px;
    background-color: $ligthBlack;

    .wheel-wrap {
      width: 580px;
      position:absolute;
      left:0;
      right:0;
      margin-left:auto;
      margin-right:auto;
      text-align:center;


        .retail {
          font-size: 22px;
          font-weight: 600;
          margin: 25px 0 0 0;
          position: relative;
          display: inline-block;
          vertical-align: top;

          @include opensans-reg;

          .price {
            color: $redd;
            text-decoration: line-through;
          }

        } // close retail 

        @import "wantbutton";

        .title {
          font-size: 36px;
          width: 100%;
          margin: 0 auto;
          position: relative;
          top: -55px;
          @include opensans-reg;
        }

    } // close wheel wrap

    @import "circlebutton";
  }
}



