

.handlebar {
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); 

  .bar {
    width: 100%;
    height: 80px;
    background-color: $ligthBlack;

    .wheel-wrap {
      width: 580px;
      height: 220px;
      position:absolute;
      left:0;
      right:0;
      margin-left:auto;
      margin-right:auto;
      text-align:center;

        .retail {
          font-family: 'Open Sans';
          font-size: 22px;
          font-weight: 600;
          margin: 25px 0 0 0;
          position: relative;
          display: inline-block;
          vertical-align: top;

          .price {
            color: $redd;
            text-decoration: line-through;
          }
        }

        .wheel {
          background: url(../img/wheel_temp.png) center center no-repeat;
          width: 232px;
          height: 231px;
          margin: 0 5px;
          position: relative;
          display: inline-block;
          top:  -78px;

         
        }

        .want-button {
          background: url(../img/want_btn_temp.png);
          width:  183px;
          height: 59px;
          margin-top: 8px;
          display: inline-block;
          vertical-align: top;
          
        }

    }

      .wheel {

      }

    .circlebtn {
      position:absolute;
      width: 42px;
      height: 42px;
      margin-top: 16px;
      overflow: hidden;
      color: $lightGrey;
      border-color: $lightGrey;
      border-radius: 50px;
      border: 3px solid;
      text-align: center;
      text-transform: uppercase;
      
      .title {
        font-family: 'League Gothic';
        font-weight: 100; 
        font-size: 20px;
        line-height: 18px;
        color: #FFF;
        position: absolute;
      }     

      &.right {
        float:right;
        background: url(../img/chevron_rgt.gif) $ligthBlack right center no-repeat;
        right: 16px;

        .title  {
          right:48px;
        }
      }

      &.left {
        float:left;
        background: url(../img/chevron_lft.gif) $ligthBlack center left no-repeat;
        background-position: -1px;
        left: 16px;

        .title {
          left: 48px;
        }
        
      }

      &:hover {
        width:180px;
        border-radius:10px;
        border-color: #FFF;
      }
    }

  }
}



