.items-container {
  width: 100%;
  padding-top: 55px;
  @include linear-gradient(#c8c8c8 0%, #e3e3e3 10%, #FFF 25%, $fallback: #c8c8c8);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#FFF',GradientType=0 ); /* IE6-9 */

  .item-grid {
    width: 95%;
    margin: 0 auto;

    .item {
      width: 300px;
      float: left;
      margin-bottom: 10px;
      overflow: hidden;
      

      img { width: 100%;}

    } // item 
  } //item-grid
} // item-container

.item .front, .item .back {
  min-height: 233px;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  @include transition (all 0.4s ease-in-out);
}

.item .front {
  border: 3px solid $middleGrey;

}

.item .back {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  background: $turq;
  @include transform(rotateY(-180deg));
}

.back {
  
  .title {
    width: 80%;
    margin: 0 auto 24px auto;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    @include opensans-semi;
  }

  hr {
    width: 83.3333333%;
    height: 4px;
    background-color: #FFF;
    border: none;
    margin: 0 auto 36px auto;
  }

  .more {
    border-radius: 500px;
    background-color: #FFF;
    font-size: 18px;
    line-height: 84px;
    padding: 31px 21px 32px 21px;
    color: $turq;
    @include transition (all 0.25s ease-out);

    &:hover {
      color: #FFF;
      background-color: $turq;
      border: 3px solid #FFF;
    }
  }

}


.item:hover .back {
  @include transform(rotateY(0deg));
}

.item:hover .front {
  @include transform(rotateY(180deg));
}
// Masonry Animation

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: width, height;
     -moz-transition-property: width, height;
      -ms-transition-property: width, height;
       -o-transition-property: width, height;
          transition-property: width, height;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}




