body { 
  overflow-x: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  background-color: #000;
  background: url(../img/hero_bg.jpg) center top no-repeat;
  background-size: cover;
  position: absolute;
}
    
.landing {
  width: 100%;
  min-width: 800px;
  height: 800px; 
  overflow: hidden;

  &.collapse {
    position: fixed;
    top: 0;
    height: 80px;
    min-height: 0px;
    z-index: 2000;
  }
}

.details-btn {
  display: inline-block;
  background: url(../img/details_btn.png);
  background-size: 140px 30px;
  width: 140px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -70px;

}
