.wheel-outer {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  top:  -78px;



  .wheel {
    width: 216px;
    height: 216px;
    overflow: hidden;
    border: 8px solid #5d5d5d;
    border-radius: 216px;

    background: #4e4e4e; /* Old browsers */
    background: -moz-linear-gradient(top, #4e4e4e 0%, #000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e4e4e), color-stop(100%,#000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4e4e4e 0%,#000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4e4e4e 0%,#000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4e4e4e 0%,#000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4e4e4e 0%,#000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#000',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: inset 0px 4px 10px rgba(0,0,0,0.4);
       -moz-box-shadow: inset 0px 4px 10px rgba(0,0,0,0.4);
            box-shadow: inset 0px 4px 10px rgba(0,0,0,0.4);

    .price-window {
      width: 100%;
      position: relative;
      top: -510px; // offset by number of price childs 3*160

      .price {
        width: 216px;
        height: 160px;
        padding-top: 20px;
        border-top: 1px solid #323232;
        text-align: center;

        .tier {
          width: 100%;
          margin:0 0 13px 0;
          color: $yellow;
          font-size: 18px;
          line-height: 14px;
          letter-spacing: 1px;
          text-transform: uppercase;

          @include leaguge-gothic;
        }

        .dollar {
          width: 100%;
          margin:0 0 15px 0;
          font-size: 62px;
          line-height: 62px;
          
          @include opensans-light;
        }

        .discount {
          margin:0;
          color: $discountGrey;
          font-size: 18px;
          line-height: 0;
          font-style: italic;

          @include opensans-semi;
          
          .percent{
            color: #FFF;
          }

        } // close discount

      } //end price

    } // end price-window

  } // end wheel

} // end wheel-outer
