.wheel-outer {
  position: relative;
  display: inline-block;
  margin: 0 5px 0 26px;
  top:  -78px;

  .wheel {
    width: 204px;
    height: 204px;
    overflow: hidden;
    position: relative;
    border: 8px solid #5d5d5d;
    border-radius: 516px;

    @include transform(translate3d(0px,0px,0px));


    @include linear-gradient(#4e4e4e, #000, $fallback: #4e4e4e);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#000',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: inset 0px 4px 10px rgba(0,0,0,0.4);
       -moz-box-shadow: inset 0px 4px 10px rgba(0,0,0,0.4);
            box-shadow: inset 0px 4px 10px rgba(0,0,0,0.4);

    .wheel-red {
      width: 204px;
      height: 204px;
      background: $redd;
      //background: rgb(232,58,58);
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      border-radius: 516px;
    }

    .price-window {
      width: 100%;
      position: relative;
      overflow: hidden;
      top: -20px; // offset by number of price childs 3*160
      z-index: 2;
      
      // Tier is a child of price, placed here so price-next tier can extend it
      .tier { 
          width: 100%;
          margin:0 0 4px 0;
          color: $yellow;
          font-size: 18px;
          line-height: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;

          @include leaguge-gothic;
      }
      
      hr {
        border-top: 1px solid #323232;
        width: 60%;
        position: relative;
        margin: 0 auto;
      }
      .price {
        padding-top: 25px;
        text-align: center;
        position: relative;
        z-index: 0;


        .dollar {
          width: 100%;
          margin:0 0 8px 0;
          font-size: 62px;
          line-height: 62px;
          
          @include opensans-light;
        }

        .discount {
          margin:0;
          color: $discountGrey;
          font-size: 18px;
          line-height: 18px;
          font-style: italic;

          @include opensans-semi;
          
          .percent{
            color: #FFF;
          }

        } // close discount

      } //end price

      .price-next {
        text-align: center;
        position: relative;
        margin: 0 0 15px 0;

        .tier {
          @extend tier !optional;
          line-height: 25px;
          display: inline;
        }

        .dollar {
            display: inline;
            position: relative;
            top: 2px;
            color: #FFF;
            font-size: 25px;
            line-height: 25px;
            @include opensans-light;
        }

      }

    } // end price-window

  } // end wheel

  // collapse animation 
  @include transition (all 0.45s ease);
  @include transform(scale(1));

} // end wheel-outer


// === Wheel Bounce Animation ===

.price-window {

  @include animation-name(wheelbounce);
  @include animation-duration(3s);
  @include animation-timing-function(ease-in-out);
  @include animation-iteration-count(infinite);

} 

@include keyframes(wheelbounce) {
  0% {
    top: -20px;
  }
  50% {
   top: 8px;
  }
  100% {
    top: -20px;
  }
}


// === Wheel change Animation ===

// border 

.wheel-highlight {
  @include animation-name(borderHighlight);
  @include animation-duration(1s);
  @include animation-timing-function(ease-in-out);
} 

@include keyframes(borderHighlight) {
  0% {
    border: 8px solid $redd;
  }
  20% {
    border: 8px solid $redd;
  }
  40% {
    border: 8px solid #5d5d5d;
  }
  41% {
    border: 8px solid $redd;
  }
  60% {
    border: 8px solid #5d5d5d;
  }
  61% {
    border: 8px solid $redd;
  }
  80% {
    border: 8px solid #5d5d5d;
  }
  81% {
    border: 8px solid $redd;
  }
  100% {
    border: 8px solid #5d5d5d;
  }
}

// red bg of wheel
.red-highlight {
  @include animation-name(wheelRedHighlight);
  @include animation-duration(1s);
  @include animation-timing-function(ease-in-out);
}

@include keyframes(wheelRedHighlight) {
  0% {
    opacity: 0.25;
  }
  20% {
    opacity: 0.25;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 0.25;
  }
  60% {
    opacity: 0;
  }
  61% {
    opacity: 0.25;
  }
  80% {
    opacity: 0;
  }
  81% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

// Price update 

.price .dollar.flipout {
  
  @include animation-name(priceSliedOff);
  @include animation-duration(0.5s);
  @include animation-timing-function(ease-in-out);
  @include animation-fill-mode(forwards)
} 


@include keyframes(priceSliedOff) {
  0% {
    @include transform(scale(1));
  }
  25% {
    @include transform(scale(1.2));
  }
  35% {
    @include transform(scale(1.2));
  }
  100% {
    @include transform(scale(0));
  }

}


.price .dollar.flipin {
  
  @include animation-name(priceSliedIn);
  @include animation-duration(0.5s);
  @include animation-timing-function(ease-in-out);
  @include animation-fill-mode(forwards)
} 

@include keyframes(priceSliedIn) {
   0% {
    @include transform(scale(0));
  }
  75% {
    @include transform(scale(1.2));
  }
  85% {
    @include transform(scale(1.2));
  }
  100% {
    @include transform(scale(1));
  }
}





