.wheel-outer {
  position: relative;
  display: inline-block;
  margin: 0 5px 0 26px;
  top:  -78px;


  .wheel {
    width: 204px;
    height: 204px;
    overflow: hidden;
    border: 8px solid #5d5d5d;
    border-radius: 516px;


    background: #4e4e4e; /* Old browsers */
    background: -moz-linear-gradient(top, #4e4e4e 0%, #000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e4e4e), color-stop(100%,#000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4e4e4e 0%,#000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4e4e4e 0%,#000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4e4e4e 0%,#000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4e4e4e 0%,#000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#000',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: inset 0px 4px 10px rgba(0,0,0,0.4);
       -moz-box-shadow: inset 0px 4px 10px rgba(0,0,0,0.4);
            box-shadow: inset 0px 4px 10px rgba(0,0,0,0.4);

    .price-window {
      width: 100%;
      position: relative;
      overflow: hidden;
      top: -20px; // offset by number of price childs 3*160
      
      // Tier is a child of price, placed here so price-next tier can extend it
      .tier { 
          width: 100%;
          margin:0 0 4px 0;
          color: $yellow;
          font-size: 18px;
          line-height: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;

          @include leaguge-gothic;
      }
      
      .price {
        padding-top: 25px;
        border-top: 1px solid #323232;
        text-align: center;

        .dollar {
          width: 100%;
          margin:0 0 8px 0;
          font-size: 62px;
          line-height: 62px;
          
          @include opensans-light;
        }

        .discount {
          margin:0;
          color: $discountGrey;
          font-size: 18px;
          line-height: 18px;
          font-style: italic;

          @include opensans-semi;
          
          .percent{
            color: #FFF;
          }

        } // close discount

      } //end price

      .price-next {
        text-align: center;
        position: relative;
        margin: 0 0 15px 0;

        .tier {
          @extend tier;
          line-height: 25px;
          display: inline;
        }

        .dollar {
            display: inline;
            position: relative;
            top: 2px;
            color: #FFF;
            font-size: 25px;
            line-height: 25px;
            @include opensans-light;
        }

      }

    } // end price-window

  } // end wheel

  // collapse animation 
  @include transition (all 0.45s ease);
  @include transform(scale(1));

} // end wheel-outer

.price-window {

  @include animation-name(wheelbounce);
  @include animation-duration(3s);
  @include animation-timing-function(ease-in-out);
  @include animation-iteration-count(infinite);

} 

@include keyframes(wheelbounce) {
  0% {
    top: -20px;
  }
  50% {
   top: 10px;
  }
  100% {
    top: -20px;
  }
}

@import "pointer";



