/* ==========================================================================
   Vendor Imports
   ========================================================================== */
/* ==========================================================================
   Global Mixins
   ========================================================================== */
/* ==========================================================================
   Colors
   ========================================================================== */
.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.sprite-chevron_lft {
  width: 14px;
  height: 96px;
  background-position: -5px -5px; }

.sprite-chevron_rgt {
  width: 14px;
  height: 96px;
  background-position: -29px -5px; }

.sprite-details_btn {
  width: 280px;
  height: 62px;
  background-position: -5px -111px; }

.sprite-fb-icon {
  width: 24px;
  height: 48px;
  background-position: -53px -5px; }

.sprite-phone-icon {
  width: 28px;
  height: 48px;
  background-position: -87px -5px; }

.sprite-pintr-icon {
  width: 24px;
  height: 48px;
  background-position: -125px -5px; }

.sprite-pointer {
  width: 100px;
  height: 74px;
  background-position: -159px -5px; }

.sprite-return_btn {
  width: 280px;
  height: 62px;
  background-position: -5px -183px; }

.sprite-share_icon {
  width: 72px;
  height: 32px;
  background-position: -269px -5px; }

.sprite-twt-icon {
  width: 24px;
  height: 48px;
  background-position: -269px -47px; }

/* ==========================================================================
   Main Styles
   ========================================================================== */
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #FFF;
  -webkit-font-smoothing: antialiased; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

a {
  text-decoration: none;
  color: #FFF; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial; }

.transition {
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }

#nav {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100%;
  overflow: hidden;
  background-color: #383838; }
  #nav .fbpic {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    position: absolute;
    right: 1em;
    top: 0.8em;
    border-radius: 5px;
    box-shadow: 0px 6px 10px black; }

#nav-callout {
  display: none;
  width: 300px;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  background-color: #272727;
  color: #fff; }
  #nav-callout .padded {
    padding: 1em 1.8em 0 1.8em; }
  #nav-callout ul {
    margin: 1em 1.8em 0 1.8em;
    list-style: none; }
    #nav-callout ul li {
      padding-bottom: 1em; }
  #nav-callout h1 {
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
    margin: 13px 0 27px 0; }
  #nav-callout label {
    color: #70c0d6;
    font-style: italic;
    font-size: .9em;
    padding-left: 7px; }
  #nav-callout input[type=text] {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #fff;
    background-color: #1a1a1a;
    border: none;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.42);
    padding: .5em;
    font-size: 1.25em;
    margin-bottom: 20px; }
  #nav-callout label.checkbox {
    color: #fff; }
  #nav-callout .help-block, #nav-callout .help-inline {
    color: #9e9e9e;
    font-style: italic;
    font-size: .9em;
    padding: 0 20px 0 7px;
    margin-bottom: 20px; }
  #nav-callout .help-block {
    margin-top: -10px; }
  #nav-callout > .close {
    color: #999;
    font-size: 40px;
    line-height: 35px;
    text-shadow: none;
    margin-top: 0;
    margin-right: 10px; }

#nav.visible, #nav-callout.visible {
  display: block; }
#nav.scroll, #nav-callout.scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
#nav i.icon-new-window, #nav-callout i.icon-new-window {
  float: right;
  margin-top: -3px; }
#nav ul.side-nav, #nav-callout ul.side-nav {
  list-style: none;
  margin: 0; }
  #nav ul.side-nav li, #nav-callout ul.side-nav li {
    line-height: 16px;
    border-bottom: 1px solid #040404;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08);
    position: relative; }
    #nav ul.side-nav li a, #nav-callout ul.side-nav li a {
      display: block;
      padding: 10px 10px 11px 12px;
      color: #bcbcbc; }
      #nav ul.side-nav li a.strong, #nav-callout ul.side-nav li a.strong {
        color: #fff; }
      #nav ul.side-nav li a:hover, #nav ul.side-nav li a.active, #nav-callout ul.side-nav li a:hover, #nav-callout ul.side-nav li a.active {
        color: #70c0d6;
        text-decoration: none; }
      #nav ul.side-nav li a i, #nav-callout ul.side-nav li a i {
        width: 12px;
        margin-top: 3px;
        margin-right: 8px; }
        #nav ul.side-nav li a i.icon-comments, #nav-callout ul.side-nav li a i.icon-comments {
          margin-top: 5px; }
    #nav ul.side-nav li span.info, #nav-callout ul.side-nav li span.info {
      display: block;
      padding: 10px 10px 11px 12px;
      color: #70c0d6;
      font-style: italic; }
    #nav ul.side-nav li:first-child span.info, #nav-callout ul.side-nav li:first-child span.info {
      padding: 14px 10px 8px 12px; }
#nav .well, #nav-callout .well {
  background-color: #1a1a1a;
  border: 1px solid #080808; }

.nav-shown {
  overflow: hidden; }

.csstransforms #nav, .csstransforms .contentarea {
  -webkit-transition: transform, 0.4s, ease;
  -moz-transition: transform, 0.4s, ease;
  transition: transform, 0.4s, ease; }
.csstransforms .nav-shown .contentarea {
  -webkit-transform: -300px;
  -moz-transform: -300px;
  -ms-transform: -300px;
  -o-transform: -300px;
  transform: -300px; }
.csstransforms .nav-callout-shown .contentarea {
  -webkit-transform: -600px;
  -moz-transform: -600px;
  -ms-transform: -600px;
  -o-transform: -600px;
  transform: -600px; }
.csstransforms .nav-callout-shown #nav {
  -webkit-transform: -300px;
  -moz-transform: -300px;
  -ms-transform: -300px;
  -o-transform: -300px;
  transform: -300px; }

.ie9 .nav-shown .contentarea .fullscreen {
  -webkit-transform: -300px;
  -moz-transform: -300px;
  -ms-transform: -300px;
  -o-transform: -300px;
  transform: -300px; }
.ie9 .nav-callout-shown .contentarea .fullscreen {
  -webkit-transform: -600px;
  -moz-transform: -600px;
  -ms-transform: -600px;
  -o-transform: -600px;
  transform: -600px; }

.lt-ie9 .nav-shown .contentarea, .lt-ie9 .nav-shown .fullscreen {
  right: 300px; }
.lt-ie9 .nav-callout-shown #nav {
  right: 300px; }
.lt-ie9 .nav-callout-shown .contentarea, .lt-ie9 .nav-callout-shown .fullscreen {
  right: 600px; }

#nav-callout .orders .label {
  float: right;
  width: 6em;
  text-align: center; }

body {
  overflow-x: hidden; }

.noscroll {
  overflow-y: hidden; }

.hero-img {
  width: 100%;
  height: 100%;
  background-color: #000;
  background: url(../img/hero_bg.jpg) center top no-repeat;
  background-size: cover;
  position: absolute;
  -webkit-transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
  .hero-img.slide {
    right: 300px; }

.landing {
  position: relative;
  width: 100%;
  height: 800px;
  right: 0;
  overflow: hidden;
  -webkit-transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
  .landing.collapse {
    position: fixed;
    top: 0;
    height: 80px;
    min-height: 0px;
    z-index: 1000; }
  .landing.slide {
    right: 300px; }
  .landing .logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 0 0 20px; }

.details-btn {
  display: inline-block;
  background: url(../img/details_btn.png);
  background-size: 140px 30px;
  width: 140px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -70px;
  z-index: 1000; }

.people {
  position: relative;
  float: right;
  right: -10px;
  margin-top: 42px;
  overflow: hidden;
  padding-left: 200px; }
  .people .person {
    height: 53px;
    position: relative;
    margin: 15px 0 0 10px;
    top: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
    .people .person .pic {
      position: relative;
      top: 0;
      left: 0;
      width: 53px;
      height: 53px;
      border: 0px solid #FFF;
      border-radius: 100px;
      z-index: 500;
      box-shadow: 0px 0px 0px 3px #FFF;
      -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1); }
    .people .person .name {
      width: 100%;
      min-width: 60px;
      position: absolute;
      top: 12px;
      left: 5px;
      margin: 0;
      padding: 5px 8px;
      border-radius: 4px;
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      background-color: #70c0d6;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1); }
    .people .person:hover .pic {
      -webkit-transform: translateX(-20px) scale(1.1);
      -moz-transform: translateX(-20px) scale(1.1);
      -ms-transform: translateX(-20px) scale(1.1);
      -o-transform: translateX(-20px) scale(1.1);
      transform: translateX(-20px) scale(1.1); }
    .people .person:hover .name {
      left: -95px; }
    .people .person.new {
      height: 3px;
      position: absolute;
      top: 0;
      left: 200px; }

.handlebar {
  width: 100%;
  min-height: 275px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); }
  .handlebar .bar {
    width: 100%;
    height: 80px;
    background-color: #343434;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    .handlebar .bar.small {
      width: 610px;
      margin: 0 auto;
      position: relative;
      top: -38px;
      border-radius: 10px; }
    .handlebar .bar.collapse {
      width: 100%;
      margin: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1030;
      border-radius: 0px; }

.wheel-wrap {
  position: absolute;
  height: 80px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  pointer-events: all; }
  .wheel-wrap .retail {
    font-size: 22px;
    font-weight: 600;
    margin: 18px 0 0 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-family: 'Open Sans';
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
    .wheel-wrap .retail .price {
      color: #e83a3a;
      text-decoration: line-through; }
  .wheel-wrap .title {
    font-size: 36px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -35px;
    color: #fff;
    font-family: 'Open Sans';
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease; }

.terms {
  color: #FFF;
  font-size: 11px;
  position: absolute;
  right: 10px;
  bottom: 0;
  font-family: 'Open Sans';
  font-weight: 600; }
  .terms:hover {
    color: #ffe57e; }

.bar.collapse .terms {
  display: none; }

.wheel-wrap.collapse {
  pointer-events: none; }

.wheel-wrap.collapse .retail {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

.wheel-wrap.collapse .want-button {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

.wheel-wrap.collapse .wheel-outer {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

.wheel-wrap.collapse .title {
  top: -195px;
  font-size: 28px; }

.circlebtn {
  position: absolute;
  width: 42px;
  height: 42px;
  margin-top: 16px;
  overflow: hidden;
  color: #767676;
  border-color: #767676;
  border-radius: 50px;
  border: 3px solid;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1); }
  .circlebtn .title {
    font-family: 'League Gothic';
    font-weight: 200;
    font-size: 20px;
    line-height: 18px;
    color: #FFF;
    position: absolute;
    width: 118px;
    top: -60px;
    -webkit-transition: all 0.25s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.25s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 0.25s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.25s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.25s 0.15s cubic-bezier(0.19, 1, 0.22, 1); }
  .circlebtn.right {
    float: right;
    background: url(../img/chevron_rgt.png) #343434 no-repeat;
    background-position: 60% 0%;
    right: 16px; }
    .circlebtn.right .title {
      right: 50px; }
  .circlebtn:hover.right {
    background-position: 91.7666666667% -48px; }
    .circlebtn:hover.right .title {
      top: 0px; }
  .circlebtn.left {
    float: left;
    background: url(../img/chevron_lft.png) #343434 no-repeat;
    background-position: 12px 0px;
    left: 16px; }
    .circlebtn.left .title {
      left: 48px; }
  .circlebtn:hover.left {
    background-position: 12px -48px; }
    .circlebtn:hover.left .title {
      top: 0px; }
  .circlebtn:hover {
    width: 180px;
    border-radius: 10px;
    border-color: #FFF; }

.want-button {
  width: 180px;
  height: 60px;
  margin-top: 10px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
  padding-top: 16px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  font-size: 26px;
  filter: dropshadow(color=#194e5d, offx=1, offy=1);
  color: #FFF;
  border-radius: 10px;
  background-color: #82d5ec;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #82d5ec), color-stop(100%, #54adcb));
  background-image: -webkit-linear-gradient(#82d5ec, #54adcb);
  background-image: linear-gradient(#82d5ec, #54adcb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82d5ec', endColorstr='#54adcb',GradientType=0 );
  /* IE6-9 */
  font-family: 'Open Sans';
  font-weight: 600;
  -webkit-transition: -moz-transform 1s ease-in 0.25s;
  -moz-transition: -moz-transform 1s ease-in 0.25s;
  transition: -moz-transform 1s ease-in 0.25s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }
  .want-button:hover {
    background-color: #82d5ec;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #82d5ec), color-stop(100%, #48889e));
    background-image: -webkit-linear-gradient(#82d5ec, #48889e);
    background-image: linear-gradient(#82d5ec, #48889e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82d5ec', endColorstr='#48889e',GradientType=0 );
    /* IE6-9 */ }

.wheel-outer {
  position: relative;
  display: inline-block;
  margin: 0 5px 0 26px;
  top: -78px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }
  .wheel-outer .wheel {
    width: 204px;
    height: 204px;
    overflow: hidden;
    position: relative;
    border: 8px solid #5d5d5d;
    border-radius: 516px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    background-color: #4e4e4e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e4e4e), color-stop(100%, black));
    background-image: -webkit-linear-gradient(#4e4e4e, black);
    background-image: linear-gradient(#4e4e4e, black);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4e4e', endColorstr='#000',GradientType=0 );
    /* IE6-9 */
    -webkit-box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.4); }
    .wheel-outer .wheel .price-window {
      width: 100%;
      position: relative;
      overflow: hidden;
      top: -174px;
      z-index: 2; }
      .wheel-outer .wheel .price-window .tier {
        width: 100%;
        margin: 0 0 4px 0;
        color: #ffe57e;
        font-size: 18px;
        line-height: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'League Gothic';
        font-weight: 200; }
      .wheel-outer .wheel .price-window hr {
        border-top: 1px solid #323232;
        width: 60%;
        position: relative;
        margin: 15px auto 15px auto; }
      .wheel-outer .wheel .price-window .price {
        text-align: center;
        position: relative;
        z-index: 0;
        padding: 10px 0 10px 0; }
        .wheel-outer .wheel .price-window .price .dollar {
          width: 100%;
          margin: 0 0 8px 0;
          font-size: 62px;
          line-height: 62px;
          font-family: 'Open Sans';
          font-weight: 200; }
        .wheel-outer .wheel .price-window .price .discount {
          margin: 0;
          color: #9d9d9d;
          font-size: 18px;
          line-height: 18px;
          font-style: italic;
          font-family: 'Open Sans';
          font-weight: 600; }
          .wheel-outer .wheel .price-window .price .discount .percent {
            color: #FFF; }
      .wheel-outer .wheel .price-window .price-next {
        text-align: center;
        position: relative;
        margin: 0; }
        .wheel-outer .wheel .price-window .price-next .tier {
          line-height: 25px;
          display: inline; }
        .wheel-outer .wheel .price-window .price-next .dollar {
          display: inline;
          position: relative;
          top: 2px;
          color: #FFF;
          font-size: 25px;
          line-height: 25px;
          font-family: 'Open Sans';
          font-weight: 200; }

.price-window {
  -webkit-animation-name: wheelbounce;
  -moz-animation-name: wheelbounce;
  animation-name: wheelbounce;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes wheelbounce {
  0% {
    top: -174px; }

  50% {
    top: -160px; }

  100% {
    top: -174px; } }

@-moz-keyframes wheelbounce {
  0% {
    top: -174px; }

  50% {
    top: -160px; }

  100% {
    top: -174px; } }

@-o-keyframes wheelbounce {
  0% {
    top: -174px; }

  50% {
    top: -160px; }

  100% {
    top: -174px; } }

@keyframes wheelbounce {
  0% {
    top: -174px; }

  50% {
    top: -160px; }

  100% {
    top: -174px; } }

.price-window.change {
  -webkit-animation-name: wheelslide;
  -moz-animation-name: wheelslide;
  animation-name: wheelslide;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1; }

@-webkit-keyframes wheelslide {
  0% {
    top: -174px; }

  99% {
    top: 46px; }

  100% {
    top: -170px; } }

@-moz-keyframes wheelslide {
  0% {
    top: -174px; }

  99% {
    top: 46px; }

  100% {
    top: -170px; } }

@-o-keyframes wheelslide {
  0% {
    top: -174px; }

  99% {
    top: 46px; }

  100% {
    top: -170px; } }

@keyframes wheelslide {
  0% {
    top: -174px; }

  99% {
    top: 46px; }

  100% {
    top: -170px; } }

.wheel-highlight {
  -webkit-animation-name: borderHighlight;
  -moz-animation-name: borderHighlight;
  animation-name: borderHighlight;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

@-webkit-keyframes borderHighlight {
  0% {
    border: 8px solid #e83a3a; }

  20% {
    border: 8px solid #e83a3a; }

  40% {
    border: 8px solid #5d5d5d; }

  41% {
    border: 8px solid #e83a3a; }

  60% {
    border: 8px solid #5d5d5d; }

  61% {
    border: 8px solid #e83a3a; }

  80% {
    border: 8px solid #5d5d5d; }

  81% {
    border: 8px solid #e83a3a; }

  100% {
    border: 8px solid #5d5d5d; } }

@-moz-keyframes borderHighlight {
  0% {
    border: 8px solid #e83a3a; }

  20% {
    border: 8px solid #e83a3a; }

  40% {
    border: 8px solid #5d5d5d; }

  41% {
    border: 8px solid #e83a3a; }

  60% {
    border: 8px solid #5d5d5d; }

  61% {
    border: 8px solid #e83a3a; }

  80% {
    border: 8px solid #5d5d5d; }

  81% {
    border: 8px solid #e83a3a; }

  100% {
    border: 8px solid #5d5d5d; } }

@-o-keyframes borderHighlight {
  0% {
    border: 8px solid #e83a3a; }

  20% {
    border: 8px solid #e83a3a; }

  40% {
    border: 8px solid #5d5d5d; }

  41% {
    border: 8px solid #e83a3a; }

  60% {
    border: 8px solid #5d5d5d; }

  61% {
    border: 8px solid #e83a3a; }

  80% {
    border: 8px solid #5d5d5d; }

  81% {
    border: 8px solid #e83a3a; }

  100% {
    border: 8px solid #5d5d5d; } }

@keyframes borderHighlight {
  0% {
    border: 8px solid #e83a3a; }

  20% {
    border: 8px solid #e83a3a; }

  40% {
    border: 8px solid #5d5d5d; }

  41% {
    border: 8px solid #e83a3a; }

  60% {
    border: 8px solid #5d5d5d; }

  61% {
    border: 8px solid #e83a3a; }

  80% {
    border: 8px solid #5d5d5d; }

  81% {
    border: 8px solid #e83a3a; }

  100% {
    border: 8px solid #5d5d5d; } }

.pointer {
  background: url(../img/pointer.png) top left no-repeat;
  background-size: 100% 100%;
  width: 50px;
  height: 37px;
  position: absolute;
  top: 98px;
  left: -12px;
  z-index: 100;
  -webkit-transform-origin: 17px 18px;
  -moz-transform-origin: 17px 18px;
  -ms-transform-origin: 17px 18px;
  -o-transform-origin: 17px 18px;
  transform-origin: 17px 18px; }

@-webkit-keyframes pointerRotate {
  0% {
    -webkit-transform: rotate(0deg); }

  50% {
    -webkit-transform: rotate(25deg); }

  100% {
    -webkit-transform: rotate(0deg); } }

@-moz-keyframes pointerRotate {
  0% {
    -moz-transform: rotate(0deg); }

  50% {
    -moz-transform: rotate(25deg); }

  100% {
    -moz-transform: rotate(0deg); } }

@-o-keyframes pointerRotate {
  0% {
    -o-transform: rotate(0deg); }

  50% {
    -o-transform: rotate(25deg); }

  100% {
    -o-transform: rotate(0deg); } }

@keyframes pointerRotate {
  0% {
    transform: rotate(0deg); }

  50% {
    transform: rotate(25deg); }

  100% {
    transform: rotate(0deg); } }

.nav {
  position: absolute;
  right: 0;
  height: 42px; }
  .nav .share {
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #9d9d9d;
    vertical-align: top;
    width: 99px;
    border-right: 1px solid #000;
    padding: 11px 0 13px 0;
    margin: 0;
    z-index: 10;
    position: relative;
    float: left;
    font-family: 'Open Sans';
    font-weight: 700;
    background-color: #4e4e4e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e4e4e), color-stop(100%, black));
    background-image: -webkit-linear-gradient(#4e4e4e, black);
    background-image: linear-gradient(#4e4e4e, black);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4e4e', endColorstr='#000',GradientType=0 );
    /* IE6-9 */ }
    .nav .share .icon {
      background: url(../img/share_icon.png) top left no-repeat;
      background-size: 36px 16px;
      background-position: 0px 0px;
      width: 18px;
      height: 16px;
      margin: 0 8px 0 0;
      display: inline-block; }
    .nav .share:hover, .nav .share.active {
      color: #FFF;
      background: #000; }
      .nav .share:hover .icon, .nav .share.active .icon {
        background-position: -18px 0px; }
  .nav .bars {
    margin: 0;
    padding: 9px 12px 12px 12px;
    list-style: none;
    cursor: pointer;
    float: left;
    background-color: #4e4e4e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e4e4e), color-stop(100%, black));
    background-image: -webkit-linear-gradient(#4e4e4e, black);
    background-image: linear-gradient(#4e4e4e, black);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4e4e', endColorstr='#000',GradientType=0 );
    /* IE6-9 */ }
    .nav .bars .bar {
      display: block;
      width: 24px;
      height: 3px;
      background: #9d9d9d;
      margin: 3px 0;
      padding: 0; }
    .nav .bars:hover {
      background: #000; }
      .nav .bars:hover .bar {
        background: #FFF; }
  .nav .share-items {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 34px;
    margin: 0;
    padding: 8px 0 0 0;
    text-align: center;
    background: #4b4b4b;
    -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
    .nav .share-items:hover {
      -webkit-transform: translateY(42px);
      -moz-transform: translateY(42px);
      -ms-transform: translateY(42px);
      -o-transform: translateY(42px);
      transform: translateY(42px); }
  .nav .slide-down {
    -webkit-transform: translateY(42px);
    -moz-transform: translateY(42px);
    -ms-transform: translateY(42px);
    -o-transform: translateY(42px);
    transform: translateY(42px); }
  .nav .share-items .item-icon {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background: url(../img/social_icons.png) top left no-repeat;
    background-size: 72px 48px;
    text-indent: -9999px;
    display: inline-block;
    cursor: pointer; }
    .nav .share-items .item-icon.pine:hover {
      background-position: 0 -24px; }
    .nav .share-items .item-icon.twt {
      background-position: -24px 0; }
      .nav .share-items .item-icon.twt:hover {
        background-position: -24px -24px; }
    .nav .share-items .item-icon.fb {
      background-position: -48px 0; }
      .nav .share-items .item-icon.fb:hover {
        background-position: -48px -24px; }

.detail {
  position: relative;
  width: 100%;
  min-width: 760px;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  background-color: #FFF;
  -webkit-transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
  .detail.slide {
    right: 300px; }
  .detail .return-btn {
    display: inline-block;
    position: relative;
    text-indent: -9999px;
    margin: 0 auto;
    background: url(../img/return_btn.png) top center no-repeat;
    background-size: 140px 30px;
    width: 140px;
    height: 30px;
    cursor: pointer;
    z-index: 1030; }
    .detail .return-btn.collapse {
      position: fixed;
      top: 80px;
      left: 50%;
      margin-left: -70px;
      z-index: 1030;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  .detail .info {
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #5d5d5d;
    max-width: 900px;
    margin: 50px auto 0 auto; }
  .detail .want-button {
    width: 300px;
    height: 75px;
    font-size: 34px;
    padding-top: 20px;
    position: relative;
    top: 35px; }
    .detail .want-button:hover {
      padding-top: 20px; }

.items-container {
  width: 100%;
  padding-top: 55px;
  background-color: #c8c8c8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c8c8c8), color-stop(10%, #e3e3e3), color-stop(25%, white));
  background-image: -webkit-linear-gradient(#c8c8c8 0%, #e3e3e3 10%, white 25%);
  background-image: linear-gradient(#c8c8c8 0%, #e3e3e3 10%, white 25%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8c8c8', endColorstr='#FFF',GradientType=0 );
  /* IE6-9 */ }
  .items-container .item-grid {
    width: 95%;
    margin: 0 auto; }
    .items-container .item-grid .item {
      width: 300px;
      float: left;
      margin-bottom: 10px;
      overflow: hidden; }
      .items-container .item-grid .item img {
        width: 100%; }

.item .front, .item .back {
  min-height: 233px;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.item .front {
  border: 3px solid #e6e6e6; }

.item .back {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #70c0d6;
  pointer-events: none;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

.back .title {
  width: 80%;
  margin: 0 auto 24px auto;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Open Sans';
  font-weight: 600; }
.back hr {
  width: 83.3333333%;
  height: 4px;
  background-color: #FFF;
  border: none;
  margin: 0 auto 36px auto; }
.back .more {
  border-radius: 500px;
  background-color: #FFF;
  font-size: 18px;
  line-height: 84px;
  padding: 31px 21px 32px 21px;
  color: #70c0d6;
  pointer-events: auto;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }
  .back .more:hover {
    color: #FFF;
    background-color: #70c0d6;
    border: 3px solid #FFF; }

.item:hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.item:hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s; }

.masonry {
  -webkit-transition-property: width, height;
  -moz-transition-property: width, height;
  -ms-transition-property: width, height;
  -o-transition-property: width, height;
  transition-property: width, height; }

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Animation VARS
   ========================================================================== */
.handlebar.intro {
  -webkit-animation-name: handlebarIntro;
  -moz-animation-name: handlebarIntro;
  animation-name: handlebarIntro;
  -webkit-animation-duration: 1.25s;
  -moz-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  bottom: -400px; }

@-webkit-keyframes handlebarIntro {
  0% {
    bottom: -400px; }

  100% {
    bottom: 0; } }

@-moz-keyframes handlebarIntro {
  0% {
    bottom: -400px; }

  100% {
    bottom: 0; } }

@-o-keyframes handlebarIntro {
  0% {
    bottom: -400px; }

  100% {
    bottom: 0; } }

@keyframes handlebarIntro {
  0% {
    bottom: -400px; }

  100% {
    bottom: 0; } }

/* ==========================================================================
   People Animation 
   ========================================================================== */
.people.intro {
  -webkit-animation-name: peopleIntro;
  -moz-animation-name: peopleIntro;
  animation-name: peopleIntro;
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  right: -120px; }

@-webkit-keyframes peopleIntro {
  from {
    right: -120px; }

  to {
    right: -10px; } }

@-moz-keyframes peopleIntro {
  from {
    right: -120px; }

  to {
    right: -10px; } }

@-o-keyframes peopleIntro {
  from {
    right: -120px; }

  to {
    right: -10px; } }

@keyframes peopleIntro {
  from {
    right: -120px; }

  to {
    right: -10px; } }

/* ==========================================================================
   Nav Intro Animation
   ========================================================================== */
.nav.intro {
  -webkit-animation-name: navIntro;
  -moz-animation-name: navIntro;
  animation-name: navIntro;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  top: -100px; }

@-webkit-keyframes navIntro {
  from {
    top: -100px; }

  to {
    top: 0; } }

@-moz-keyframes navIntro {
  from {
    top: -100px; }

  to {
    top: 0; } }

@-o-keyframes navIntro {
  from {
    top: -100px; }

  to {
    top: 0; } }

@keyframes navIntro {
  from {
    top: -100px; }

  to {
    top: 0; } }

#site-footer {
  background-color: #fff;
  text-align: center;
  color: #9e9e9e;
  font-family: "open sans", "helvetica neue", helvetica, sans-serif;
  font-weight: normal;
  font-size: 0.5625em;
  border-top: 1px solid #e7e7e7;
  margin-top: 10px;
  *zoom: 1;
  position: relative; }

#site-footer:before, #site-footer:after {
  display: table;
  content: "";
  line-height: 0; }

#site-footer:after {
  clear: both; }

#site-footer .nav-footer {
  margin: 10px 0 10px 0;
  text-align: center; }

#site-footer .nav-footer > li {
  float: none;
  line-height: 14px;
  display: inline-block; }

#site-footer .nav-footer > li > a {
  padding-right: 6px;
  padding-left: 6px;
  margin-right: 2px;
  color: #9e9e9e; }

#site-footer .nav-footer > li > a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #70c0d6; }

#site-footer .social-icons {
  float: right;
  margin: 4px 9px 9px 5px; }

#site-footer .social-icons li {
  display: inline-block;
  margin-left: 6px; }

#site-footer .social-icons li a {
  display: block; }

/* ==========================================================================
   Override Bootstraps Styles
   ========================================================================== */
.modal {
  background: none;
  width: 690px;
  margin-left: -345px; }

.modal-header {
  border-bottom: 3px solid #7a7a7a;
  padding: 30px 20px 25px 20px; }

.button {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 26px;
  color: #FFF;
  border: none;
  border-radius: 10px;
  background-color: #82d5ec;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #82d5ec), color-stop(100%, #54adcb));
  background-image: -webkit-linear-gradient(#82d5ec, #54adcb);
  background-image: linear-gradient(#82d5ec, #54adcb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70c0d6', endColorstr='#4e9eb8',GradientType=0 );
  /* IE6-9 */ }
  .button:hover {
    background: #82d5ec; }

/* ==========================================================================
   Quikly Modal specific Styles
   ========================================================================== */
.opt-in {
  border: none;
  text-align: center;
  box-shadow: none; }
  .opt-in .status-pill {
    background-color: #FFF;
    border-radius: 18px;
    padding: 12px 18px 4px 18px;
    margin: 0 auto;
    display: inline-block; }
    .opt-in .status-pill .sprite-bug {
      background-image: url(../img/fraud-bug.png);
      background-repeat: no-repeat;
      display: inline-block;
      width: 23px;
      height: 22px; }
    .opt-in .status-pill .status {
      font-family: 'Open Sans';
      font-weight: 600;
      vertical-align: top;
      display: inline-block;
      font-size: 19px;
      line-height: 23px;
      color: #5d5d5d;
      margin: 0;
      padding: 0; }
  .opt-in .title {
    font-family: 'Open Sans';
    font-size: 30px;
    line-height: 40px;
    text-align: center; }
  .opt-in .info {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px; }

.modal-verify {
  width: 550px;
  margin: 0 auto;
  padding: 25px; }
  .modal-verify.top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #fff;
    text-align: center; }
    .modal-verify.top .button {
      width: 132px;
      height: 77px;
      display: inline-block; }
  .modal-verify.bottom {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #414141; }
  .modal-verify .type-num-wrap {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 365px;
    height: 77px;
    background: #e9e9e9;
    border-radius: 5px;
    padding: 0 18px;
    margin: 0 8px 0 0; }
  .modal-verify .phone-wrap {
    display: inline-block;
    padding: 10px 18px 10px 0;
    margin-right: 15px;
    margin-top: 5px;
    border-right: 3px solid #fff; }
  .modal-verify input[type="text"] {
    border: none;
    color: #5d5d5d;
    font-size: 24px;
    text-align: left;
    vertical-align: top;
    background: none;
    height: auto;
    padding: 0;
    margin-top: 30px;
    font-family: 'Open Sans';
    box-shadow: none; }
  .modal-verify .verify-checkbox {
    float: left;
    margin-right: 30px;
    margin-left: 5px; }
  .modal-verify .details {
    float: left;
    width: 75%;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Open Sans';
    font-weight: 600;
    text-align: left; }
    .modal-verify .details .yellow {
      color: #ffe57e; }
  .modal-verify .details-legal {
    color: #9d9d9d;
    font-size: 14px;
    font-family: 'Open Sans'; }
    .modal-verify .details-legal a {
      text-decoration: underline;
      color: inherit;
      font-style: italic; }
      .modal-verify .details-legal a:hover {
        color: #ffe57e; }
