/* ==========================================================================
   Vendor Imports
   ========================================================================== */
/* ==========================================================================
   Global Mixins
   ========================================================================== */
/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
   Main Styles
   ========================================================================== */
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #FFF;
  -webkit-font-smoothing: antialiased; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

a {
  text-decoration: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial; }

.transition {
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }

body {
  overflow-x: hidden; }

.hero-img {
  width: 100%;
  height: 100%;
  background-color: #000;
  background: url(../img/hero_bg.jpg) center top no-repeat;
  background-size: cover;
  position: absolute; }

.landing {
  width: 100%;
  min-width: 800px;
  height: 800px; }
  .landing.collapse {
    position: fixed;
    top: 0;
    height: 80px;
    min-height: 0px;
    z-index: 2000; }

.details-btn {
  display: inline-block;
  background: url(../img/details_btn.png);
  background-size: 140px 30px;
  width: 140px;
  height: 30px;
  cursor: pointer; }

.handlebar {
  width: 100%;
  min-height: 275px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.3s ease-out 0.75s;
  -moz-transition: all 0.3s ease-out 0.75s;
  transition: all 0.3s ease-out 0.75s; }
  .handlebar .bar {
    width: 100%;
    height: 80px;
    background-color: #343434; }
    .handlebar .bar.collapse {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2000; }

.wheel-wrap {
  position: absolute;
  height: 80px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  pointer-events: all; }
  .wheel-wrap .retail {
    font-size: 22px;
    font-weight: 600;
    margin: 25px 0 0 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-family: 'Open Sans';
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
    .wheel-wrap .retail .price {
      color: #e83a3a;
      text-decoration: line-through; }
  .wheel-wrap .title {
    font-size: 36px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -55px;
    font-family: 'Open Sans';
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease; }

.terms {
  color: #FFF;
  font-size: 11px;
  position: absolute;
  right: 10px;
  bottom: 0;
  font-family: 'Open Sans';
  font-weight: 400; }
  .terms:hover {
    color: #ffe57e; }

.bar.collapse .terms {
  display: none; }

.wheel-wrap.collapse {
  pointer-events: none; }

.wheel-wrap.collapse .retail {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

.wheel-wrap.collapse .want-button {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

.wheel-wrap.collapse .wheel-outer {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

.wheel-wrap.collapse .title {
  top: -195px;
  font-size: 28px; }

.circlebtn {
  position: absolute;
  width: 42px;
  height: 42px;
  margin-top: 16px;
  overflow: hidden;
  color: #767676;
  border-color: #767676;
  border-radius: 50px;
  border: 3px solid;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1); }
  .circlebtn .title {
    font-family: 'League Gothic';
    font-weight: 200;
    font-size: 20px;
    line-height: 18px;
    color: #FFF;
    position: absolute;
    width: 118px;
    top: -60px;
    -webkit-transition: all 0.25s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.25s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 0.25s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.25s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.25s 0.15s cubic-bezier(0.19, 1, 0.22, 1); }
  .circlebtn.right {
    float: right;
    background: url(../img/chevron_rgt.png) #343434 no-repeat;
    background-position: 60% 0%;
    right: 16px; }
    .circlebtn.right .title {
      right: 50px; }
  .circlebtn:hover.right {
    background-position: 91.7666666667% -48px; }
    .circlebtn:hover.right .title {
      top: 0px; }
  .circlebtn.left {
    float: left;
    background: url(../img/chevron_lft.png) #343434 no-repeat;
    background-position: 12px 0px;
    left: 16px; }
    .circlebtn.left .title {
      left: 48px; }
  .circlebtn:hover.left {
    background-position: 12px -48px; }
    .circlebtn:hover.left .title {
      top: 0px; }
  .circlebtn:hover {
    width: 180px;
    border-radius: 10px;
    border-color: #FFF; }

.want-button {
  width: 180px;
  height: 60px;
  margin-top: 8px;
  display: inline-block;
  vertical-align: top;
  padding-top: 16px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  font-size: 26px;
  text-shadow: 1px 1px 0px rgba(25, 78, 93, 0.5);
  filter: dropshadow(color=#194e5d, offx=1, offy=1);
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 10px;
  background-color: #82d5ec;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #82d5ec), color-stop(100%, #54adcb));
  background-image: -webkit-linear-gradient(#82d5ec, #54adcb);
  background-image: linear-gradient(#82d5ec, #54adcb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82d5ec', endColorstr='#54adcb',GradientType=0 );
  /* IE6-9 */
  font-family: 'Open Sans';
  -webkit-transition: -moz-transform 1s ease-in 0.25s;
  -moz-transition: -moz-transform 1s ease-in 0.25s;
  transition: -moz-transform 1s ease-in 0.25s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }
  .want-button:hover {
    border: 4px solid;
    padding-top: 14px;
    background-color: #82d5ec;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #82d5ec), color-stop(100%, #48889e));
    background-image: -webkit-linear-gradient(#82d5ec, #48889e);
    background-image: linear-gradient(#82d5ec, #48889e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82d5ec', endColorstr='#48889e',GradientType=0 );
    /* IE6-9 */ }

.wheel-outer {
  position: relative;
  display: inline-block;
  margin: 0 5px 0 26px;
  top: -78px;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  transition: all 0.45s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }
  .wheel-outer .wheel {
    width: 204px;
    height: 204px;
    overflow: hidden;
    border: 8px solid #5d5d5d;
    border-radius: 516px;
    background-color: #4e4e4e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e4e4e), color-stop(100%, black));
    background-image: -webkit-linear-gradient(#4e4e4e, black);
    background-image: linear-gradient(#4e4e4e, black);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4e4e', endColorstr='#000',GradientType=0 );
    /* IE6-9 */
    -webkit-box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.4); }
    .wheel-outer .wheel .price-window {
      width: 100%;
      position: relative;
      overflow: hidden;
      top: -20px; }
      .wheel-outer .wheel .price-window .tier {
        width: 100%;
        margin: 0 0 4px 0;
        color: #ffe57e;
        font-size: 18px;
        line-height: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'League Gothic';
        font-weight: 200; }
      .wheel-outer .wheel .price-window .price {
        padding-top: 25px;
        border-top: 1px solid #323232;
        text-align: center; }
        .wheel-outer .wheel .price-window .price .dollar {
          width: 100%;
          margin: 0 0 8px 0;
          font-size: 62px;
          line-height: 62px;
          font-family: 'Open Sans';
          font-weight: 200; }
        .wheel-outer .wheel .price-window .price .discount {
          margin: 0;
          color: #9d9d9d;
          font-size: 18px;
          line-height: 18px;
          font-style: italic;
          font-family: 'Open Sans';
          font-weight: 400; }
          .wheel-outer .wheel .price-window .price .discount .percent {
            color: #FFF; }
      .wheel-outer .wheel .price-window .price-next {
        text-align: center;
        position: relative;
        margin: 0 0 15px 0; }
        .wheel-outer .wheel .price-window .price-next .tier {
          line-height: 25px;
          display: inline; }
        .wheel-outer .wheel .price-window .price-next .dollar {
          display: inline;
          position: relative;
          top: 2px;
          color: #FFF;
          font-size: 25px;
          line-height: 25px;
          font-family: 'Open Sans';
          font-weight: 200; }

.price-window {
  -webkit-animation-name: wheelbounce;
  -moz-animation-name: wheelbounce;
  animation-name: wheelbounce;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes wheelbounce {
  0% {
    top: -20px; }

  50% {
    top: 10px; }

  100% {
    top: -20px; } }

@-moz-keyframes wheelbounce {
  0% {
    top: -20px; }

  50% {
    top: 10px; }

  100% {
    top: -20px; } }

@-o-keyframes wheelbounce {
  0% {
    top: -20px; }

  50% {
    top: 10px; }

  100% {
    top: -20px; } }

@keyframes wheelbounce {
  0% {
    top: -20px; }

  50% {
    top: 10px; }

  100% {
    top: -20px; } }

.pointer {
  background: url(../img/pointer.png) top left no-repeat;
  background-size: 100% 100%;
  width: 50px;
  height: 37px;
  position: absolute;
  top: 98px;
  left: -12px;
  z-index: 100;
  -webkit-transform-origin: 17px 18px;
  -moz-transform-origin: 17px 18px;
  -ms-transform-origin: 17px 18px;
  -o-transform-origin: 17px 18px;
  transform-origin: 17px 18px; }

@-webkit-keyframes pointerRotate {
  0% {
    -webkit-transform: rotate(0deg); }

  50% {
    -webkit-transform: rotate(25deg); }

  100% {
    -webkit-transform: rotate(0deg); } }

@-moz-keyframes pointerRotate {
  0% {
    -moz-transform: rotate(0deg); }

  50% {
    -moz-transform: rotate(25deg); }

  100% {
    -moz-transform: rotate(0deg); } }

@-o-keyframes pointerRotate {
  0% {
    -o-transform: rotate(0deg); }

  50% {
    -o-transform: rotate(25deg); }

  100% {
    -o-transform: rotate(0deg); } }

@keyframes pointerRotate {
  0% {
    transform: rotate(0deg); }

  50% {
    transform: rotate(25deg); }

  100% {
    transform: rotate(0deg); } }

.nav {
  position: absolute;
  right: 0;
  height: 42px; }
  .nav .share {
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #9d9d9d;
    vertical-align: top;
    width: 99px;
    border-right: 1px solid #000;
    padding: 11px 0 13px 0;
    margin: 0;
    z-index: 10;
    position: relative;
    float: left;
    font-family: 'Open Sans';
    font-weight: 700;
    background-color: #4e4e4e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e4e4e), color-stop(100%, black));
    background-image: -webkit-linear-gradient(#4e4e4e, black);
    background-image: linear-gradient(#4e4e4e, black);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4e4e', endColorstr='#000',GradientType=0 );
    /* IE6-9 */ }
    .nav .share .icon {
      background: url(../img/share_icon.png) top left no-repeat;
      background-size: 36px 16px;
      background-position: 0px 0px;
      width: 18px;
      height: 16px;
      margin: 0 8px 0 0;
      display: inline-block; }
    .nav .share:hover, .nav .share.active {
      color: #FFF;
      background: #000; }
      .nav .share:hover .icon, .nav .share.active .icon {
        background-position: -18px 0px; }
  .nav .bars {
    margin: 0;
    padding: 9px 12px 12px 12px;
    list-style: none;
    cursor: pointer;
    float: left;
    background-color: #4e4e4e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e4e4e), color-stop(100%, black));
    background-image: -webkit-linear-gradient(#4e4e4e, black);
    background-image: linear-gradient(#4e4e4e, black);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4e4e', endColorstr='#000',GradientType=0 );
    /* IE6-9 */ }
    .nav .bars .bar {
      display: block;
      width: 24px;
      height: 3px;
      background: #9d9d9d;
      margin: 3px 0;
      padding: 0; }
    .nav .bars:hover {
      background: #000; }
      .nav .bars:hover .bar {
        background: #FFF; }
  .nav .share-items {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 34px;
    margin: 0;
    padding: 8px 0 0 0;
    text-align: center;
    background: #4b4b4b;
    -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1); }
    .nav .share-items:hover {
      -webkit-transform: translateY(42px);
      -moz-transform: translateY(42px);
      -ms-transform: translateY(42px);
      -o-transform: translateY(42px);
      transform: translateY(42px); }
  .nav .slide-down {
    -webkit-transform: translateY(42px);
    -moz-transform: translateY(42px);
    -ms-transform: translateY(42px);
    -o-transform: translateY(42px);
    transform: translateY(42px); }
  .nav .share-items .item-icon {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background: url(../img/social_icons.png) top left no-repeat;
    background-size: 72px 48px;
    text-indent: -9999px;
    display: inline-block;
    cursor: pointer; }
    .nav .share-items .item-icon:hover {
      background-position-y: -24px; }
    .nav .share-items .item-icon.twt {
      background-position-x: -24px; }
    .nav .share-items .item-icon.fb {
      background-position-x: -48px; }

.detail {
  position: relative;
  width: 100%;
  min-width: 800px;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  background-color: #FFF; }
  .detail .return-btn {
    display: inline-block;
    position: relative;
    text-indent: -9999px;
    margin: 0 auto;
    background: url(../img/return_btn.png) top center no-repeat;
    background-size: 140px 30px;
    width: 140px;
    height: 30px;
    cursor: pointer; }
    .detail .return-btn.collapse {
      position: fixed;
      top: 80px;
      left: 50%;
      margin-left: -70px;
      z-index: 2000; }
  .detail .info {
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #5d5d5d;
    width: 900px;
    margin: 50px auto 0 auto; }
  .detail .want-button {
    width: 300px;
    height: 75px;
    font-size: 34px;
    padding-top: 20px;
    border: 6px solid #FFF;
    position: relative;
    top: 35px; }
    .detail .want-button:hover {
      border: 6px solid #FFF;
      padding-top: 20px; }

.items-container {
  width: 100%;
  padding-top: 55px;
  background-color: #c8c8c8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c8c8c8), color-stop(10%, #e3e3e3), color-stop(25%, white));
  background-image: -webkit-linear-gradient(#c8c8c8 0%, #e3e3e3 10%, white 25%);
  background-image: linear-gradient(#c8c8c8 0%, #e3e3e3 10%, white 25%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8c8c8', endColorstr='#FFF',GradientType=0 );
  /* IE6-9 */ }
  .items-container .item-grid {
    width: 95%;
    margin: 0 auto; }
    .items-container .item-grid .item {
      width: 300px;
      float: left;
      margin-bottom: 10px;
      border: 3px solid #e6e6e6; }
      .items-container .item-grid .item img {
        width: 100%; }

.item .front, .item .back {
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.item .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #70c0d6;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

.item:hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.item:hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s; }

.masonry {
  -webkit-transition-property: width, height;
  -moz-transition-property: width, height;
  -ms-transition-property: width, height;
  -o-transition-property: width, height;
  transition-property: width, height; }

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }
