/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #FFF;
  webkit-font-smoothing: antialiased; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

a {
  text-decoration: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial; }

.transition {
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#main-wrap {
  width: 100%;
  height: 100%;
  background-color: #000;
  background: url(../img/native/hero_bg.jpg) center top no-repeat;
  background-size: cover;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto; }

.landing {
  width: 100%;
  min-width: 960px;
  height: 100%;
  min-height: 100%;
  position: relative; }

.detail .handlebar-small {
  width: 100%;
  display: none;
  position: relative;
  left: 0; }

.detail {
  /*background-color: rgba(0, 0, 0, 0.75);*/
  background-color: #FFF;
  position: relative;
  margin: 0 auto;
  text-align: center; }

.details-btn {
  position: absolute;
  left: -25px;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background: url(../img/details_btn.png);
  width: 140px;
  height: 30px;
  cursor: pointer; }

.return-btn {
  display: none;
  position: absolute;
  top: 77px;
  left: 38%;
  margin-left: 70px;
  background: url(../img/return_btn.png);
  width: 140px;
  height: 31px;
  cursor: pointer; }

.handlebar {
  width: 100%;
  height: 35%;
  min-height: 275px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  font-family: 'Open Sans'; }
  .handlebar .bar {
    width: 100%;
    height: 80px;
    background-color: #343434; }
    .handlebar .bar .wheel-wrap {
      width: 580px;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      .handlebar .bar .wheel-wrap .retail {
        font-size: 22px;
        font-weight: 600;
        margin: 25px 0 0 0;
        position: relative;
        display: inline-block;
        vertical-align: top; }
        .handlebar .bar .wheel-wrap .retail .price {
          color: #e83a3a;
          text-decoration: line-through; }
      .handlebar .bar .wheel-wrap .wheel {
        background: url(../img/wheel_temp.png) center center no-repeat;
        width: 232px;
        height: 231px;
        margin: 0 5px;
        position: relative;
        display: inline-block;
        top: -78px; }
      .handlebar .bar .wheel-wrap .want-button {
        width: 180px;
        height: 60px;
        margin-top: 8px;
        display: inline-block;
        vertical-align: top;
        padding-top: 16px;
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;
        /* Opera/IE 8+ */
        font-family: 'Open Sans';
        font-size: 26px;
        text-shadow: 1px 1px 0px rgba(25, 78, 93, 0.5);
        filter: dropshadow(color=#194e5d, offx=1, offy=1);
        color: #FFF;
        border: 2px solid #FFF;
        border-radius: 10px;
        background: #82d5ec;
        /* Old browsers */
        background: -moz-linear-gradient(top, #82d5ec 0%, #54adcb 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #82d5ec), color-stop(100%, #54adcb));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #82d5ec 0%, #54adcb 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #82d5ec 0%, #54adcb 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #82d5ec 0%, #54adcb 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #82d5ec 0%, #54adcb 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82d5ec', endColorstr='#54adcb',GradientType=0 );
        /* IE6-9 */
        -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
        -moz-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
        -ms-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1); }
        .handlebar .bar .wheel-wrap .want-button:hover {
          border: 4px solid;
          padding-top: 14px;
          background: -moz-linear-gradient(top, #82d5ec 0%, #48889e 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #82d5ec), color-stop(100%, #48889e));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #82d5ec 0%, #48889e 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #82d5ec 0%, #48889e 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #82d5ec 0%, #48889e 100%);
          /* IE10+ */
          background: linear-gradient(to bottom, #82d5ec 0%, #48889e 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82d5ec', endColorstr='#48889e',GradientType=0 );
          /* IE6-9 */ }
      .handlebar .bar .wheel-wrap .title {
        font-size: 36px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        top: -50px; }
    .handlebar .bar .circlebtn {
      position: absolute;
      width: 42px;
      height: 42px;
      margin-top: 16px;
      overflow: hidden;
      color: #767676;
      border-color: #767676;
      border-radius: 50px;
      border: 3px solid;
      text-align: center;
      text-transform: uppercase;
      -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
      -ms-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1); }
      .handlebar .bar .circlebtn .title {
        font-family: 'League Gothic';
        font-weight: 100;
        font-size: 20px;
        line-height: 18px;
        color: #FFF;
        position: absolute;
        width: 118px;
        top: -60px;
        -webkit-transition: all 0.25s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
        -moz-transition: all 0.25s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
        -ms-transition: all 0.25s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: all 0.25s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 0.25s 0.15s cubic-bezier(0.19, 1, 0.22, 1); }
      .handlebar .bar .circlebtn.right {
        float: right;
        background: url(../img/chevron_rgt.png) #343434 no-repeat;
        background-position: 60% 0%;
        right: 16px; }
        .handlebar .bar .circlebtn.right .title {
          right: 50px; }
      .handlebar .bar .circlebtn:hover.right {
        background-position: 91.7666666667% -48px; }
        .handlebar .bar .circlebtn:hover.right .title {
          top: 0px; }
      .handlebar .bar .circlebtn.left {
        float: left;
        background: url(../img/chevron_lft.png) #343434 no-repeat;
        background-position: 12px 0px;
        left: 16px; }
        .handlebar .bar .circlebtn.left .title {
          left: 48px; }
      .handlebar .bar .circlebtn:hover.left {
        background-position: 12px -48px; }
        .handlebar .bar .circlebtn:hover.left .title {
          top: 0px; }
      .handlebar .bar .circlebtn:hover {
        width: 180px;
        border-radius: 10px;
        border-color: #FFF; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
