/* ==========================================================================
   Colors
   ========================================================================== */

$ligthBlack: #343434;
$middleBlack: #4B4B4B;
$darkBlack: #5D5D5D;
$lightGrey:  #767676;
$middleGrey: #e6e6e6; 
$discountGrey: #9D9D9D;
$redd: #E83A3A;
$yellow: #FFE57E;