
// font family mixins

@mixin opensans-reg {
  font-family: 'Open Sans';
}

@mixin opensans-light {
  font-family: 'Open Sans';
  font-weight: 200;
}

@mixin opensans-semi {
  font-family: 'Open Sans';
  font-weight: 400;
}

@mixin opensans-bold {
  font-family: 'Open Sans';
  font-weight: 700;
}

@mixin leaguge-gothic {
    font-family: 'League Gothic';
    font-weight: 200; 
}