// ==========================================================================
// Site footer
// ========================================================================== 

#site-footer {
    background-color: #fff;
    text-align: center;
    color: #9e9e9e;
    font-family: "open sans", "helvetica neue", helvetica, sans-serif;
    font-weight: normal;
    font-size: 0.5625em;
    border-top: 1px solid #e7e7e7;
    margin-top: 10px;
    *zoom: 1;
    position: relative;
}
#site-footer:before, #site-footer:after {
    display: table;
    content: "";
    line-height: 0;
}
#site-footer:after {
    clear: both;
}
#site-footer .nav-footer {
    margin: 10px 0 10px 0;
    text-align: center;
}
#site-footer .nav-footer>li {
    float: none;
    line-height: 14px;
    display: inline-block;
}
#site-footer .nav-footer>li>a {
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 2px;
    color: #9e9e9e;
}
#site-footer .nav-footer>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: $turq;
}
#site-footer .social-icons {
    float: right;
    margin: 4px 9px 9px 5px;
}
#site-footer .social-icons li {
    display: inline-block;
    margin-left: 6px;
}
#site-footer .social-icons li a {
    display: block;
}