
.want-button {
  
  width:  180px;
  height: 60px;
  margin-top: 10px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
  padding-top: 16px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  font-size:  26px;
  //text-shadow: 1px 1px 0px rgba(25, 78, 93, 0.5);
  filter: dropshadow(color=#194e5d, offx=1, offy=1);

  color: #FFF;
  //border: 2px solid #FFF;
  border-radius: 10px;

  
  @include linear-gradient(#82d5ec, #54adcb, $fallback: #82d5ec);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82d5ec', endColorstr='#54adcb',GradientType=0 ); /* IE6-9 */

  @include opensans-semi;


  &:hover {
    //border: 4px solid;
    
    @include linear-gradient(#82d5ec, #48889e, $fallback: #82d5ec);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82d5ec', endColorstr='#48889e',GradientType=0 ); /* IE6-9 */
  }

  // for Collapse Animation
  @include transition (transition-property-names((transform), moz) 1.0s ease-in 0.25s);
  @include transform(scale(1));
}



