.wheel-outer {
  position: relative;
  display: inline-block;
  margin: 0 5px 0 26px;
  top:  -78px;

  .wheel {
    width: 204px;
    height: 204px;
    overflow: hidden;
    position: relative;
    border: 8px solid #5d5d5d;
    border-radius: 516px;

    @include transform(translate3d(0px,0px,0px));

    @include linear-gradient(#4e4e4e, #000, $fallback: #4e4e4e);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#000',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: inset 0px 4px 10px rgba(0,0,0,0.4);
       -moz-box-shadow: inset 0px 4px 10px rgba(0,0,0,0.4);
            box-shadow: inset 0px 4px 10px rgba(0,0,0,0.4);

    .price-window {
      width: 100%;
      position: relative;
      overflow: hidden;
      top: -174px; // offset by number of price childs 3*160
      z-index: 2;
      
      // Tier is a child of price, placed here so price-next tier can extend it
      .tier { 
          width: 100%;
          margin:0 0 4px 0;
          color: $yellow;
          font-size: 18px;
          line-height: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;

          @include leaguge-gothic;
      }
      
      hr {
        border-top: 1px solid #323232;
        width: 60%;
        position: relative;
        margin: 15px auto 15px auto;
      }

      .price {
        text-align: center;
        position: relative;
        z-index: 0;
        padding: 10px 0 10px 0;

        .dollar {
          color: #FFF;
          width: 100%;
          margin:0 0 8px 0;
          font-size: 62px;
          line-height: 62px;
          
          @include opensans-light;
        }

        .discount {
          margin:0;
          color: $discountGrey;
          font-size: 18px;
          line-height: 18px;
          font-style: italic;

          @include opensans-semi;
          
          .percent{
            color: #FFF;
          }
        } // close discount
      } //end price


      .price-next {
        text-align: center;
        position: relative;
        margin: 0;

        .tier {
          @extend tier !optional;
          line-height: 25px;
          display: inline;
        }

        .dollar {
            display: inline;
            position: relative;
            top: 2px;
            color: #FFF;
            font-size: 25px;
            line-height: 25px;
            @include opensans-light;
        }

      }// end price-next
    }// end price-window
  }// end wheel

  // collapse animation 
  @include transition (all 0.25s ease);
  @include transform(scale(1));

}// end wheel-outer


// === Wheel Bounce Animation ===

.price-window {

  @include animation-name(wheelbounce);
  @include animation-duration(3s);
  @include animation-timing-function(ease-in-out);
  @include animation-iteration-count(infinite);

} 

@include keyframes(wheelbounce) {
  0% {
    top: -174px;
  }
  50% {
   top: -160px;
  }
  100% {
    top: -174px;
  }
}


// === Wheel change Animation ===

.price-window.change {
  @include animation-name(wheelslide);
  @include animation-duration(1.5s);
  @include animation-timing-function(cubic-bezier(0.19, 1, 0.22, 1));
  @include animation-iteration-count(1);
} 

@include keyframes(wheelslide) {
  0% {
    top: -174px;
  }
  99% {
    top: 46px;
  }
  100% {
    top: -170px;
  }
}

// border 

.wheel-highlight {
  @include animation-name(borderHighlight);
  @include animation-duration(1s);
  @include animation-timing-function(ease-in-out);
} 

@include keyframes(borderHighlight) {
  0% {
    border: 8px solid $red;
  }
  20% {
    border: 8px solid $red;
  }
  40% {
    border: 8px solid #5d5d5d;
  }
  41% {
    border: 8px solid $red;
  }
  60% {
    border: 8px solid #5d5d5d;
  }
  61% {
    border: 8px solid $red;
  }
  80% {
    border: 8px solid #5d5d5d;
  }
  81% {
    border: 8px solid $red;
  }
  100% {
    border: 8px solid #5d5d5d;
  }
}
